.slick__container {
  background-color: #fafafa;
  width: 100vw;
  margin-bottom: 20px;
  padding: 20px calc((100% - 800px) / 2);
  padding-bottom: 30px;
}

.slick__item {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  height: 400px !important;
  border-radius: 3px;
}
