.title {
  padding: 5px;
  padding-left: 0;
}

.container {
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 0;
  border-bottom: 2px solid rgba(200, 200, 200, 0.4);
}

.author {
  font-size: 14px;
  font-weight: 600;
  color: #8a8a8a;
}

.content {
  font-size: 16px;
  text-overflow: ellipsis !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  cursor: pointer;
}

.date {
  font-size: 14px;
}
