.container {
  font-size: 14px !important;
  overflow-y: scroll !important;
  height: 100%;
}

.text {
  font-family: "Merriweather", serif;
}

@media only screen and (max-width: 768px) {
  .container {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0;
  }
}
