.container {
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 16px;
  padding-left: 0;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postInfo {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.postTitle {
  width: 100%;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  padding-right: 3px;
  cursor: pointer;
}

.imgPostSize {
  width: 300px;
  height: 130px;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(200, 200, 200, 0.5);
}

.imgPostSize > img {
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .postTitle {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse !important;
  }
  .imgPostSize {
    width: 100%;
    height: initial;
    margin-bottom: 20px;
  }
}
