.updootSectionContainer {
  align-items: center;
  margin-right: 5px;
}

/* Mobile screen */
@media only screen and (max-width: 768px) {
  .updootSectionContainer {
    background-color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .updootSectionContainer {
    margin-right: 0;
    padding-right: 0 !important;
  }
  .point {
    margin: 0 10px;
  }
}
