@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px !important;
}

.header__content {
  padding: 30px 0;
  padding-bottom: 10px;
  border-radius: none;
}

.header__title > div {
  text-align: center;
}

.homePage__headerBackgroundImage {
  background-image: url("https://res.cloudinary.com/dnlthcx1a/image/upload/v1615899066/flamenco-187_ozwvgq.png");
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.create-post__btn {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  font-weight: 600;
  padding-right: 0;
}

.recent-articles__title {
  padding: 5px;
  padding-left: 0;
}

input[type="checkbox"] {
  border-radius: 0 !important;
  background-color: red;
}

.chakra-checkbox__control {
  border-radius: 50px !important;
}

@media only screen and (max-width: 768px) {
  .header__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__img {
    display: none !important;
  }
  .header__followings {
    font-size: 16px !important;
  }
  .grid-posts {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .create-post__btn {
    width: 50%;
  }
  .login__image,
  .register__image {
    display: none !important;
  }
  .recent-articles__title {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 600px) {
  .create-post__btn {
    max-width: 100% !important;
    width: 100% !important;
  }
  .header__content {
    padding-top: 0;
    padding-bottom: 0px;
  }
  .header__title {
    text-align: center;
    margin-bottom: 16px !important;
  }
  .homePage__backgroundImage {
    display: none !important;
  }
  .homePage__customerReview {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
