@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  background-color: #fff;
  font-family: "OPTITimes-Roman Regular, -apple-system", sans-serif !important;
  font-size: 18px !important;
}

.header__content {
  padding: 30px 10px;
  border-radius: 3px;
  background-color: #fff;
}

.create-post__btn {
  width: 150px;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }
  .header__content {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .header__img {
    display: none !important;
  }
  .header__followings {
    font-size: 16px !important;
  }
  .grid-posts {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .create-post__btn {
    width: 50%;
  }
  .login__image,
  .register__image {
    display: none !important;
  }
  .recent-articles__title {
    margin-left: 0 !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 600px) {
  .create-post__btn {
    width: 100%;
  }
}
