.post__title {
  font-size: 24px !important;
}

.award__btn {
  cursor: pointer;
  position: relative;
}

.reaction__box {
  position: absolute;
  width: 312px;
  height: 50px;
  background-color: #fafafa;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  left: -25px;
  bottom: 20px;
  display: none;
}

.reaction__icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}

.reaction__icon > .reaction__label {
  position: relative;
  padding: 1px;
  top: -60px;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  text-align: center;
  font-size: 5px;
  font-weight: 300;
  visibility: hidden;
  width: 40px;
}

.award__btn:hover > .reaction__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.award__btn:hover > .reaction__box > .reaction__icon:hover {
  transform: scale(1.05);
  transform-origin: bottom;
}

.award__btn:hover > .reaction__box > .reaction__icon:hover > .reaction__label {
  visibility: visible;
  text-align: center;
  font-size: 8px !important;
}

.commentWrapper {
  width: 500px;
  height: 1000px;
  margin-left: 1.5rem;
  position: sticky;
  top: 60px;
}

.commentContainer {
  width: 100% !important;
  height: 100%;
  overflow-y: scroll;
}

.updootWrapper {
  display: none;
}

.editDeleteWrapper {
  display: none;
}

@media only screen and (max-width: 768px) {
  .post__title {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 600px) {
  .post__title {
    font-size: 24px !important;
  }

  .commentWrapper {
    width: 100%;
  }

  .commentContainer {
    margin-left: 0 !important;
    width: 100%;
  }

  .leftSidebarButtons {
    display: none;
  }

  .updootWrapper {
    display: inline-block;
  }

  .editDeleteWrapper {
    display: inline-block;
  }
}
