.avatar {
  position: absolute;
  top: -20px;
  left: 0;
  transform: translate(0%, 0%);
  width: 69px !important;
  height: 69px !important;
}

.username {
  font-size: 2em;
  font-weight: 800;
}

.email {
  color: rgba(200, 200, 200, 0.9);
  margin-bottom: 10px;
}

.tabs {
  margin-top: 16px;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.tabBtn {
  outline: none;
  font-weight: 600;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  height: 50px !important;
  margin-right: 20px;
}

.tabBtn > span {
  display: none;
}

.tabBtn:first-child {
  padding-left: 0 !important;
}

.tabBtn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.msgAndFollowBtn {
  position: absolute !important;
  right: 0;
  top: 0;
}

.followBtn {
  margin-right: 20px !important;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 0 !important;
  }
  .tabList {
    width: 100%;
    height: initial;
    overflow: scroll;
  }
  .avatar {
    display: none !important;
  }
  .tabBtn > span {
    display: inline-block;
  }
  .msgAndFollowBtn {
    display: none !important;
  }
}
