.header {
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.avatar {
  height: 80px !important;
  width: 80px !important;
  margin: 0;
  border-radius: 12px !important;
}

.avatar > img {
  border-radius: 12px !important;
}

.username {
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
  margin-left: 20px;
}

.userInfo {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-column-end: 4;
}

.postsData,
.followersData,
.followingData {
  margin-right: 36px;
  font-size: 16px;
  margin-top: 10px;
}

.postsData > span,
.followersData > span,
.followingData > span {
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .userInfo {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .userData {
    width: 100%;
    justify-content: space-between;
  }

  .postsData,
  .followersData,
  .followingData {
    margin-right: 0;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .usernameAndAvatar {
    margin-bottom: 0;
  }
  .userInfo {
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
  }
  .userNameAndBtn {
    width: 100%;
  }
  .username {
    font-size: 20px;
    font-weight: 800;
  }
  .userData {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }
  .postsData,
  .followersData,
  .followingData {
    margin-right: 0;
    font-size: 16px;
  }
}
