.footer__container {
  background-color: #fafafa;
  color: rgb(34, 130, 219);
  padding: 20px 0;
  box-shadow: 0 -1px 3px rgba(200, 200, 200, 0.2);
}

.footer__body {
  margin: 0 0;
}

.social__icons {
  display: flex;
  margin-top: 20px;
}

.social__icon {
  margin-right: 16px;
  font-size: 20px;
}

.menu {
  flex-grow: 1;
  margin-left: 30px;
  justify-content: space-between;
}

.menu__heading {
  font-weight: 700;
  color: #333;
}

.menu__item {
  font-size: 16px;
  font-weight: 500;
}

.menu__subscribeInput {
  color: #333;
}

@media only screen and (max-width: 768px) {
  .footer__body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .menu {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer__body {
    margin: 0;
  }
}
